<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title*</label>
                <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description*</label>
                <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
            </div>
            
            <div class="mb-3">
                Original Listing Image <br>
                <img src="<%= originalImageUrl %>" >
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image*</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            
            <div class="category mb-3">
                <label style="font-size: 1rem;" for="category" class="form-label">Category (Select atleast one)*</label>
                <div>
                    <% const categories = ["Rooms", "Iconic cities", "Mountains", "Castles", "Amazing Pools", "Camping", "Farms", "Arctic", "Boats"]; %>
                    <% categories.forEach(category => { %>
                        <input 
                            type="checkbox" 
                            class="btn-check" 
                            id="<%= category %>" 
                            name="listing[category][]" 
                            value="<%= category %>" 
                            autocomplete="off" 
                            <%= listing.category.includes(category) ? "checked" : "" %> 
                        >
                        <label class="btn btn-outline-primary" for="<%= category %>"><%= category %></label>
                    <% }) %>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price*</label>
                    <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required>
                </div>
                
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country*</label>
                    <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location*</label>
                <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
            </div>

            <div class="mb-3 form-check form-switch d-flex">
                <label for="instantBooking" class="form-check-label">Enable Instant Booking?*</label>
                <input class="form-check-input ms-4 mt-2" type="checkbox" role="switch" name="listing[instantBooking]" id="instantBooking" <%= listing.instantBooking ? "checked" : "" %>>
            </div>
            
            <button class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
    </div>
</div>